---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PortalGuard from '../../components/PortalGuard.astro';
import { portalDocs } from '../../config/company';
---
<BaseLayout title="Portal Docs | Foremost Machine, Inc.">
  <PortalGuard heading="Portal Documents">
    <p class="mb-3 text-slate-300">Document downloads are available in the secure portal. Preview of standard resources:</p>
    <ul class="list-disc pl-6 text-slate-300">
      {portalDocs.map((doc) => <li>{doc}</li>)}
    </ul>
  </PortalGuard>
</BaseLayout>
